@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700)|Libre+Baskerville:400,700);


/**  Basic Page CSS **/
body{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
  color: #213047;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3, h4, h5, h6 {
cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  margin: 0;
  color: #213047;
}

h2 {
  padding: 45px 0;
}

.baskervilleItalic {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 1.05em;
}

/**  Header Navigation **/

header .navbar {
  padding: 30px 0;
  transition: all .5s ease-out;
}

header .navbar-default {
  background-color: transparent;
  border: none;
}

header .navbar-default .navbar-nav a {
  font-family: "Libre Baskerville", serif;
  color: rgba(255,255,255,.75) !important;
  font-size: .75em;
  font-weight: 700;
  padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
  color: rgba(255,255,255,1) !important;
}

header .navbar-default .navbar-nav .active a {
  color: rgba(255,255,255,1) !important;
  background: transparent !important;
  border-bottom: 3px solid #FFFFFF;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: rgba(255,255,255,1) !important;
  background: transparent !important;
  text-shadow: none;
}

/**  Navbar Brand **/

.logo {
  background-image: url(../images/LarrysLogoHoriz.svg);
  background-repeat: no-repeat;
  min-width: 250px;
  height: 65px;
  position: absolute;
  left: 25px;
  top: 15px;
}

/*@media only screen 
and (max-width: 768px) {
  .logo { 
  background-image: url(../images/LarrysLogoMini.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 65px;
  position: absolute;
  left: 15px;
  top: 15px;
  }
}*/

/*header .navbar-brand {
  background: url(../images/LarrysLogoHoriz.svg);
  background-repeat: no-repeat;
  background-position: 15px 0;
  height: auto;
}*/

header .navbar-brand h1 {
  color: white;
  margin: 0;
  font-size: 1.8em;
  font-weight: 400;
  padding-left: 105px;
}


header .navbar-brand span.subhead {
  display: block;
  font-family: "Lato", serif;
  font-size: .6em;
  font-weight: 100;
}

/**  Navbar Toggle **/
header .navbar-toggle {
  background-color: #FFFFFF;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: #7FDCFF;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #09C0FF;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle {
 /* margin-top: 15px;*/
}

@media only screen
and (max-width: 768px) {
  header .navbar-collapse.in {
    background: rgba(127,220,255,.9);
  }
}


/**  nav inbody **/

header .inbody {
  background: rgba(127,220,255,.9);
}

header .navbar.inbody {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
  padding-top: 10px;
}

header .inbody .navbar-brand {
  background-size: 43px;
  background-position: top left;
  margin-top: 5px;
  padding-bottom: 10px;
  margin-left: 10px;
}


/**  Carousel Fade **/

.carousel-inner {
  background-image: url(../images/carousel-sky3000x1688.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}


/**  Page **/

.page {
  padding-bottom: 20px;
}

.page h2 {
  text-align: center;
/*  margin-bottom: 30px;*/
}

/**  Page -- Mission **/

/*h2.andGodSaid {
  
    position: relative;
    z-index: 100;
    margin-top: -175px;
    margin-bottom: 100px;
    color: #213047;
    text-shadow: 3px 3px 9px #FFF;
    font-weight: 700;
    font-size: 2em;
}*/

#mission {
  background-image: linear-gradient(to bottom, #FFFFFF, #ffde84);
}

#mission article {
  margin-bottom: 15px;
}

#mission h2 {
  font-style: italic;
}

#mission h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.15em;

}

/**  Page -- flavors **/

.flavor {
  margin: 20px 0;
  text-align: center;
}

#flavors img.icon {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 5px;
}

#flavors h3 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 10px;
}

@media only screen 
and (min-width: 450px)
and (max-width: 768px) {
  .flavor p {
    padding: 0 20%;
  }
}


/**  Page -- Testimonials **/

#testimonials {
  padding: 0;
}

.testimonialsH2Background {
  background-image: linear-gradient(to bottom, #ffde84, #FFFFFF);
  margin-left: -15px;
  margin-right: -15px;
}

#testimonials blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
  min-height: 500px;
  /*position: relative;*/
}

#testimonials blockquote .quote {
  background-color: rgba(255,255,255,.7);
  padding: 20px 5%;
  position: absolute;
  bottom: 0;
  width: 75%;
  min-height: 110px;
  font-weight: 400;
  border-radius: 0 50px 0 0;
}

#testimonials blockquote .quote:hover {
  background-color: rgba(255,255,255,.9);
}

#testimonials #noah {
  background: url(../images/testimonial-noah.jpg) no-repeat center top;
  background-size: cover;
}

#testimonials #samson {
  background: url(../images/testimonial-samson.jpg) no-repeat center top;
  background-size: cover;
}

#testimonials #moses {
  background: url(../images/testimonial-moses.jpg) no-repeat center top;
  background-size: cover;
}

#testimonials #wisemen {
  background: url(../images/testimonial-wisemen.jpg) no-repeat center top;
  background-size: cover;
}

#testimonials .quote {
  font-size: 1.2em;
  line-height: 110%;
  font-weight: 400;
}


#testimonials .quote .more, #testimonials .customer {
  opacity: 0;
  font-size: 0;
  line-height: 0;
  padding-top: 10px;
}


#testimonials .quote:hover .more {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  display: block;
  opacity: 1;
  font-size: .8em;
  line-height: 120%;
}

#testimonials .quote:hover .customer {
  display: block;
  font-size: .7em;
  text-align: right;
}

#testimonials .quote .intro::after {
  content: '...';
}

#testimonials .quote:hover .intro::after {
  content: '';
}

/**  Last Supper **/

#lastSupper {
  
  padding-top: 75px;
  padding-bottom: 0px; 
}

/*#lastSupperh2 {
  padding: 100px 15px;
  font-style: italic;
}*/

/**  Page -- about **/

#about {
  background: rgba(127,220,255,.5);
  background-image: linear-gradient(to bottom, #FFFFFF, #7FDEFF);
}

.person {
  margin: 10px 0;
}

.person h3 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 10px;
}

.person p {
  font-size: 1em;

}

.person img {
  width: 100%;
}

/**  Footer **/

footer {
  background: #FFFFFF;
  color: #000000;
  font-size: .8em;
  padding: 20px 0 5px 0;
  margin-top: 50px;
}


footer h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
  font-style: bold;
}

.address, .phone {
  text-align: center;
  margin-bottom: 10px;
}
  
.copyright {
  text-align: center;
  margin-top: 50px;
  
}

.emailAddress {
  margin-top: -10px;
}

.emailAddress>a:link, a:visited, a:active {
  color: #213047;
  text-decoration: none;
}

.emailAddress>a:hover {
  color: #7FDCFF;
}


